{%extends 'blogapp/layouts/main.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {%block content%}
    <section >
        <div class="container" style="margin-top: 70px;background-color: aqua;">
          <div class="row">
            <div class="col-12">
              <div>
                Learn from the Past | Live in the Present | Mark the Future 
              </div>
             </div>
          </div>
    <h2 style="text-align: center;">Add Post</h2>
    <form action="{%url 'ViewPostList'%}" method="POST" enctype="multipart/form-data" style="border:2px solid black;margin:auto;padding:10px;width:730px;background-color: bisque;">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">submit</button>
    </form>
    <br>
    <br>
</div>

</section>

    {%endblock content%}

</body>
</html>