{%extends 'blogapp/layouts/main.html'%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {%block content%}
    <div class="container" style="margin-top: 70px;">
      <div class="row">
        <div class="col-12">
        <h1>View all Post</h1>
        </div>

      </div>
      <section class="allpost" >
        <div class="container" style="background-color: aqua;">
  
          <h2 style="color: brown;">All Post</h2>
          <div class="container contpost" style="background-color: aqua; display: grid;grid-template-columns: auto auto auto;gap: 30px 10px;">
          {%for posts in post%}
          <div class="container">
            <div class="card" style="height: 310px;width: 300px;">
              <img src="{{posts.image.url}}" class="card-img-top" alt="img1">
              <div class="card-body">
                <h5 class="card-title">{{posts.title}}</h5>
                <h5 class="card-title">Content : {{posts.content}}</h5>
                <h5 class="card-text">Description : {{posts.description}}</h5>        
              </div>
            </div>
           </div>
           {%endfor%}
          <br>
        </div>
        </div>
      </section>
    </div>
    
    {%endblock content%} 
  </body>
</html>