<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <nav class="footer footer-expand-md footer-light bg-light">
        <h4 style="text-align: center;color: darkmagenta;">Welcome you Again ☺ </h4>
        <div style="border: 2px solid black; text-align: center;color: brown; width: 800px;height: 80px;margin-left:23%;">
        <label style="color: indigo;">Any Queries</label><br>
        <label>Contact : </label>
        <input type="email" placeholder="xyz@gmail.com " width="400px"/>
        <label style="gap: 20px;">Feedback : &nbsp;</label>
        <input type="text" placeholder="Feedback"> &nbsp;
        <button>Submit</button>
        <br>
        </div>
        <br>
    </nav>

</body>
</html>